#logo {
    width: 25%;
}

#app-heading {
    padding: 1em;
    font-weight: 900;
    font-size: xx-large;
}

#members {
    width: 100%;
}

#app-navigation > ul ul {
    display: inline;
}

.pdf-link {
    padding: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.ui-block-a {
    border: #ddd 1px solid;
    display: inline-block;
    padding: 2px;
    margin: 2px;
    height: 110px;
}

@media all and (min-width: 576px) {
    .ui-block-a {
        width: 48%;
    }
}
@media all and (min-width: 768px) {
    .ui-block-a {
        width: 32%;
    }
}
@media all and (min-width: 992px) {
    .ui-block-a {
        width: 24.50%;
    }
}

.city {
    font-weight: 700;
    font-size: x-large;
    padding: 0.3em;
}

.download-address-lables {
    width: 100%;
}