#logo {
    width: 25%;
}

#app-heading {
    padding: 1em;
    font-weight: 900;
    font-size: xx-large;
}

#members {
    width: 100%;
}

#app-navigation > ul ul {
    display: inline;
}

.address {
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    height: 150px;
    padding: 0.5em;
    margin: 20px;
}

.city {
    font-weight: 700;
    font-size: x-large;
    padding: 0.3em;
}

.download-address-lables {
    width: 100%;
}